.page-footer {
    box-shadow:  0 -5px 10px rgba(0, 0, 0, 0.2);
    position: fixed;  
    bottom: 0;  
    left: 0;  
    width: 100%;  
    background-color: rgb(24, 119, 213);  
    color: white;  
    text-align: center;  
    padding: 10px;  
    
  }
a {
    color: rgb(198, 227, 30);
  }
#button{
  background-color: rgb(32, 186, 71);
}